@using EmbedDashboardwithSSOusingToken.Models;
@{
    ViewBag.Title = "Home";
    var embedSignature = ViewBag.EmbedSignature;
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        var embedSignature = '@embedSignature';
        var dashboardUrl = '@EmbedProperties.DashboardUrl';
        $(document).ready(function () {
            var iframeUrl = "<iframe src='" + dashboardUrl + "?" + embedSignature + "' id='dashboard-frame' width='100%' height='100%' allowfullscreen frameborder='0'></iframe>";
            $("#dashboard").append(iframeUrl);
        });
    </script>
</head>

<body>
    <div id="dashboard" style="width: 100%; height: 700px;"></div>
</body>
</html>
